<app-header (onSelected)="onSelectedYear($event)"></app-header>

<div fxLayoutAlign="space-around center" class="container">
  <div class="button">
    <img src="/assets/images/teams_v2.jpg" alt="" routerLink="/teams"/>
    <div>Teams</div>
  </div>
  <div class="button">
    <img src="/assets/images/players_v2.png" alt="" routerLink="/players"/>
    <div>Players</div>
  </div>
</div>
<h1 fxLayoutAlign="space-around center">Last 10 matches</h1>
<div fxLayoutAlign="space-around center">
  <app-matches-table [schedule]="schedule"></app-matches-table>
</div>
