.ruta {
  cursor: pointer;
  padding: 5px;
}

.ruta:hover {
  box-shadow: 1px 1px 5px lightgray;
  border-radius: 5px;
}

mat-form-field {
  margin-left: auto;
  padding-top: 1.34375em !important;
}

.main {
  display: flex;
  justify-content: center;
  background-color: rgb(245, 245, 245);
  height: 100%;

}

.container {
  display: grid;
  position: relative;
  margin-top: 50px;
  background-color: rgb(255, 255, 255);
  align-items: flex-end;
  height: 500px;
  width: 65%;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.233);
  overflow: hidden;
}

.logo {
  position: absolute;
  z-index: 1;
  width: 1000px;
  height: auto;
  left: 650px;
  top: -120px;
  opacity: 0.2;
}

.playerImg {
  z-index: 2;
  height: 400px;
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column: 1;
  margin-left: 35px;
}

.info {
  display: grid;
  z-index: 3;
  padding: 25px;

  grid-row: 1;
  grid-column: 2;
  margin: 50px;
  margin-right: 70px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255, 0.6);
  color: rgb(219, 219, 219);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.623);
  transform: translate(-180px);
}

.info b {
  color: rgb(29, 97, 35);
}

.name {
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: 64px;
  text-align: right;
  margin-bottom: 50px;
}

.block1 {
  grid-column: 1;
  grid-row: 2;

  text-align: right;
  font-size: 20px;
}

.block2 {
  grid-column: 2;
  grid-row: 2;

  text-align: right;
  font-size: 20px;
}

.debut {
  grid-row: 3;
  grid-column: 2;
  text-align: right;
  font-size: 20px;
}
