<app-header (onSelected)="onSelectedYear($event)"></app-header>

<div class="main">
  <div *ngIf="this.currentPlayer != undefined" class="container">
    <img src="{{ getTeamSVG(this.currentPlayer.teamId) }}" class="logo"/>
    <img src="{{ getPlayerImg(this.currentPlayer) }}" class="playerImg" (error)="handleMissingImage($event)"/>

    <div class="info">
      <div class="name">
        {{ this.currentPlayer.firstName }}
        <b>{{ this.currentPlayer.lastName }}</b>
      </div>
      <div class="block1">
        <div class="age">
          <b>Age:</b> {{ getPlayerAge(this.currentPlayer) }} years
        </div>
        <div class="height">
          <b>Height:</b> {{ this.currentPlayer.heightMeters }}m
        </div>
        <div class="weight">
          <b>Weight:</b> {{ this.currentPlayer.weightKilograms }}kg
        </div>
      </div>
      <div class="block2">
        <div class="country">
          <b>Nationality:</b> {{ this.currentPlayer.country }}
        </div>
        <div class="pos">
          <b>Position:</b> {{ this.currentPlayer.teamSitesOnly?.posFull }}
        </div>
        <div class="jersey"><b>Jersey:</b> {{ this.currentPlayer.jersey }}</div>
      </div>
      <div class="debut">
        <b>Debut: </b> {{ this.currentPlayer.nbaDebutYear }}
      </div>
    </div>
  </div>
</div>
