<app-header (onSelected)="onSelectedYear($event)"></app-header>

<mat-tab-group>
  <mat-tab label="Standard">
    <div *ngIf="listPlayers.length == 0">No Hay datos</div>
    <app-player [playerList]="listPlayers"></app-player>
  </mat-tab>
  <mat-tab label="Africa">
    <div *ngIf="africaPlayers.length == 0">No Hay datos</div>
    <app-player [playerList]="africaPlayers"></app-player>
  </mat-tab>
  <mat-tab label="Sacramento">
    <div *ngIf="sacramentoPlayers.length == 0">No Hay datos</div>
    <app-player [playerList]="sacramentoPlayers"></app-player>
  </mat-tab>
  <mat-tab label="Vega">
    <div *ngIf="vegaPlayers.length == 0">No Hay datos</div>
    <app-player [playerList]="vegaPlayers"></app-player>
  </mat-tab>
  <mat-tab label="Utah">
    <div *ngIf="utahPlayers.length == 0">No Hay datos</div>
    <app-player [playerList]="utahPlayers"></app-player>
  </mat-tab>
</mat-tab-group>
