table {
  margin: auto;
  width: 70%;
}

.header-align-right{
  display: flex;
  padding: 21px;
  justify-content: flex-end;
}

.mat-column-firstName{
  width: 20%;
}

.mat-column-team{
  width: 5%;
}

.ruta{
  cursor: pointer;
  padding: 5px;
}

.ruta:hover{
  box-shadow: 1px 1px 5px lightgray;
  border-radius: 5px;
}

mat-form-field{
  margin-left: auto;
  padding-top: 1.34375em !important;
}
